.body {
    margin: 0px;
    color: white;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
  }
  
  .nav {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  .main {
    background-color: rgb(41, 65, 171);
    height: 968px;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  
  
  .main-first {
    width: 924.63px;
    height: 166px;
    color: #1ed760;
    font-weight: 900;
    font-size: 146px;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
  }
  
  .headline {
    font-size: 146px;
    color: #1ed760;
    font-weight: 900;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
  }
  
  .headline-first {
    position: relative;
    left: -2.5em;
  }
  
  .headline-second {
    position: relative;
    left: -0.5em;
  }
  
  .sub-headline {
    text-align: center;
    color: #1ed760;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
  }
  
  .third-headline {
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
  
  }
  
  .purple-headline {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .purple-headline1 {
    width: 40%
  }
  
  .blue-headline1 {
    color: #919496;
    font-weight: 900;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  
  
  }
  
  .sub-title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
  }
  
  .button-area {
    text-align: center;
  }
  
  .button-style {
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
  }
  
  .button-style:hover {
    transform: scale(1.07);
    background-color: #2de26d;
  }
  
  .footer {
    background-color: black;
    height: 530px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  
  
  
  
  
  .a-class {
    text-decoration: none;
    color: white;
  
  }
  
  .a-class:hover {
    color: #1ed760;
  }
  
  .nav-item {
    padding: 28px 17px;
    font-weight: 700;
  
  }
  
  .nav-item1 {
    padding-bottom: 15px;
    padding-top: 3px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  
  .first-time {
    color: #919496;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
  }
  
  .second-line {
    color: #919496;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .second-line-item {
    margin-right: 24px;
    color: #919496;
  }
  
  .icon-box {
  
    font-size: 24px;
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .purple2 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-menu {
    display: flex;
    justify-content: space-between;
    height: 346px;
  
  }